<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810942406403-jl6svjjqfhsmah2hg2b97rh4pueihqq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810942406403-jl6svjjqfhsmah2hg2b97rh4pueihqq6</string>
	<key>API_KEY</key>
	<string>AIzaSyB2hzqHuTlLYq9JrdPsP_AimtK1VqXZ1cs</string>
	<key>GCM_SENDER_ID</key>
	<string>810942406403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ISO111.lab10</string>
	<key>PROJECT_ID</key>
	<string>lab10-53e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>lab10-53e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810942406403:ios:3edda3c8085413adaa9336</string>
</dict>
</plist>